<ion-header>
  <ion-toolbar>
    <ion-button slot="start" color="light">
      <ion-back-button defaultHref="/items" color="dark"></ion-back-button>
    </ion-button>
    <ion-title>item-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col><ion-img [src]="loadItem?.imgUrl"></ion-img></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><h1>{{loadItem?.title}}</h1></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>${{loadItem?.price}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="onAddCartItem()">Add to Cart</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
